@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);


.heading {
    background-color: rgba(0, 0, 0, 0.904);
    width: 30vw;
    text-align: center;
    margin-top: 4px;
    padding: 12px;
    color: white;
    border-radius: 12px;
    font-family: "Oswald", sans-serif;
}

h1 {
    font-size: 3em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.heading h3 {
    font-family: "Open Sans Condensed", sans-serif;
}
  
hr {
    width: 60%;
}