.ingredients {
    background-color: rgba(0, 0, 0, 0.904);
    width: 30vw;
    text-align: center;
    margin-top: 10px;
    padding: 12px;
    color: white;
    border-radius: 12px;
    font-family: "Oswald", sans-serif;
}

.ingredientsList {
    width: fit-content;
    text-align: justify;
    margin: auto;
}

ul {
    list-style-type:disc;
   
}

@media (min-width: 320px) and (max-width: 768px) {
  
    
    .ingredients {
        background-color: rgba(0, 0, 0, 0.904);
        width: 70vw;
        text-align: center;
        margin-top: 10px;
        padding: 12px;
        color: white;
        border-radius: 12px;
        font-family: "Oswald", sans-serif;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      

    .ingredients {
        background-color: rgba(0, 0, 0, 0.904);
        width: 60vw;
        text-align: center;
        margin-top: 10px;
        padding: 12px;
        color: white;
        border-radius: 12px;
        font-family: "Oswald", sans-serif;
    }

}