body {
    background-image: url("./images/kim-daniels-p6XuDW03YjE-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {

    body {
        background-image: url("./images/kim-daniels-JdaZIXXqVtc-unsplash.jpg");
        background-size: 160%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
}